  <div class="sixteen columns">
    <h2>Home, sweet... cake!</h2>
    <br />
    <p>
      Magic Travelling Cake Tins. The perfect gift for anyone who loves to eat, cook or share good food. 
    </p>
<!--
    <p>
      Curious? Want to start one yourself? Enter your email address and we'll send you more information. 
      <label for="regularInput">Email address:</label>
      <input type="text" id="regularInput" />
      <button type="submit">Send</button>
    </p>

    
    <h2>Already got a tin?</h2>
      <label for="regularInput">Enter your code here:</label>
      <input type="text" id="regularInput" />
      <button type="submit">Go</button>
  -->
  </div>
