<h2>First holder of the tin</h2>
<div class="four columns alpha">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="six columns omega">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<h2>Details</h2>
<br class="clear" />
