<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="travelling cake tin recipes">
    <title>My Magic Travelling Cake Tin</title>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="/favicon.ico" rel="shortcut icon">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">My Magic Travelling Cake Tin</a>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>

    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
